.footer-delivery {
    text-align: center;
    background-color: #333;
    padding: 35px 20px;
    color: #fff;
    position: static;
    bottom: 0;

    a {
        color: #FFCD01;
        text-decoration: none;
    }
}